name: ci
on:
  pull_request: {}
  push:
    branches: ["main"]

permissions: write-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: the-guild-org/shared-config/setup@v1
        name: set up env
        with:
          node-version-file: .node-version

      - name: Install
        run: make install

      - name: Test
        run: npm start -- test --cwd ./gateways/hive-router --run-script ./run.sh  --reporter tap --graphql http://127.0.0.1:4000/graphql --healthcheck http://127.0.0.1:4000/health --exit-on-fail

  gateways:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: the-guild-org/shared-config/setup@v1
        name: set up env
        with:
          node-version-file: .node-version

      - name: Prepare
        run: make install

      - name: Test Gateways
        run: make test-all

      - name: Upload Logs
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: gateways-logs
          path: gateways/*/logs/*.log

      - name: Summary
        run: |
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          echo "summary<<$EOF" >> "$GITHUB_ENV"
          cat ./REPORT.md >> "$GITHUB_ENV"
          echo "$EOF" >> "$GITHUB_ENV"

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: publish report
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        if: github.event_name == 'pull_request'
        with:
          add: ./REPORT.md ./README.md ./website/index.html ./website/data.json
          message: "Update results"
          pull: "--rebase --autostash"
          author_email: github-actions@github.com
          author_name: github-actions
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Summary
        if: github.event_name == 'pull_request'
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2
        with:
          header: "Test Results"
          message: ${{ env.summary }}

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@f0a1cd58cd66095dee69bfa18fa5efd1dde93bca # v1
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: federation-gateway-compatibility
          directory: ./website
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.event.pull_request.number != '' && format('pr-{0}', github.event.pull_request.number) || 'main' }}
